# Node / React / Vite
node_modules/
dist/
build/
.vite/
.env
.env.local
*.log
npm-debug.log*

# PHP
vendor/
composer.lock

# Python
__pycache__/
*.py[cod]
*.sqlite3
*.db
.venv/
env/
venv/

# OS & éditeurs
.DS_Store
Thumbs.db
.idea/
.vscode/

# Tailwind (si fichier temporaire généré)
*.css.map

# Autres fichiers temporaires
*.bak
*.swp
*.tmp
*.out
